@import "../../ fonts/Quicksand/quicksand.css";
@import "../../ fonts/Cinzelde/stylesheet.css";
@import "../../ fonts/Cormorant/Cormorant Garamond.css";
@import "../../ fonts/Cormorant/Cormorant Garamond Light.css";
@import "../../ fonts/Cormorant/Cormorant Garamond Medium.css";
@import "../../ fonts/Cormorant/Cormorant Garamond SemiBold.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Quicksand', sans-serif;
}

body > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}